<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.food_delivery.domain.vo.UserVO" alias="userVO"/>
        <typeAlias type="com.example.food_delivery.domain.vo.StoreVO" alias="storeVO"/>
        <typeAlias type="com.example.food_delivery.domain.vo.AdminVO" alias="adminVO"/>
    </typeAliases>
</configuration>