.container{
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}

.item-wrap{
    width: 70%;
    border-top: 1px solid #ddd;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    background: #f3f3f3;
}

img {
    margin: auto;
    display: block;
}

.item{
    position: relative;
    display: flex;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    background: white;
    margin-top: 22px;
    margin-bottom: 22px;
    border-radius: 24px;
    overflow: hidden;
    padding: 18px 0px;
}

.state-wrap{
    position: absolute;
    right: 25px;
}

.state0{
    border-radius: 15px;
    width: 20px;
    margin-bottom: -2px;
    height: 20px;
    background: red;
    display: inline-block;
}
.state1{
    border-radius: 15px;
    width: 20px;
    margin-bottom: -2px;
    height: 20px;
    background: goldenrod;
    display: inline-block;
}
.state2{
    border-radius: 15px;
    width: 20px;
    margin-bottom: -2px;
    height: 20px;
    background: #da2020;
    display: inline-block;
}
.state3{
    border-radius: 15px;
    width: 20px;
    margin-bottom: -2px;
    height: 20px;
    background: lawngreen;
    display: inline-block;
}
.state4{
    border-radius: 15px;
    width: 20px;
    margin-bottom: -2px;
    height: 20px;
    background: #da2020;
    display: inline-block;
}

.order-state{
    margin-top: 130px;
}

.stateDiv{
    font-size: 20px;
    margin-top: -30px;
}