main {
    width: 800px;
    margin : 0 auto 50px ;
}

.detail_box {
    width: 95%;
    margin-left: auto;
}

section.title {
    width: 100%;
}

section.title h1 {
    text-align: center;
    margin : 30px 0 50px 0 ;
}

main .order_cont {
    margin-bottom: 30px;
}

main div {
    font-size: 1.5rem;
}

main .order_cont .store_name {
    font-size: 2rem;
    font-weight: bold;

}

main .order_cont .order_info {
    margin-top: 10px;
    font-size: 1.5rem;

}

main .order_menu  {
    margin-bottom: 30px;
}

main .order_menu li {
    position: relative;
}

main .order_menu li div,
main .price div,
main .total div {
    display: flex;
    justify-content: space-between;

}

main .order_menu li .menu_price,
main .price div span:last-child,
main .total div span:last-child {
    position: relative;
    right: 0;
}

main .order_menu li ul li {
    font-size: 1.5rem;
    list-style: disc;
    margin-left: 20px;
    color: #a5a5a5;
}

main .order_menu li ul li.menu_price_sum {
    list-style: none;
    margin: 0;
    color: black;
    font-weight: bold;

}

main .price {
    margin-bottom: 30px;
}


main .price div {
    font-size: 1.8rem;
    font-weight: bold;
}

main .total{
    margin-bottom: 30px;
}

main .total div {
    font-size: 2rem;
    font-weight: bold;
}



main .address li {
    color: #a5a5a5;
}

main .backBtn{
    margin-top: 100px;
    text-align: center;
}

main .backBtn button{
    height: 60px;
    background: #e6e4e4;
    border: 0;
    width: 95%;
    margin-left: auto;
    cursor: pointer;
}