<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/user/id.css}">
    <!-- content script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    </th:block>
    <!-- content script -->
    <th:block layout:fragment="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script th:src="@{/js/addr.js}"></script>
    </th:block>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{/js/emailOrPhone.js}"></script>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
    <div class="login-container">
        <form action="/findId" method="POST" class="account-wrap">
            <h2 class="account-title">아이디/비밀번호 찾기</h2>
            <div class="account-content">
                <div class="tabs">
                    <ul>
                       <li class="active">
                            <a href="/findId" style="cursor: pointer;">아이디 찾기</a>
                       </li>
                       <li class="">
                            <a href="/findPw" style="border-bottom: 1px solid #ddd; color: #999; cursor: pointer;">비밀번호 찾기</a>
                       </li>
                    </ul>
                </div>
                <div class="find-content-info">
                    <h3 class="title">아이디를 깜빡하셨나요?</h3>
                    <p class="ment">가입 시 입력하신 정보로 아이디를 찾아보세요.</p>
                    <div class="check-group">
                        <div class="check-box">
                            <input id="email" name="radio" value="email" checked="checked" type="radio" onclick="fnRadioName();">
                            <label for="email">
                                <span></span>  이메일로 찾기
                            </label>
                        </div>
                        <div class="check-box">
                            <input id="phone" name="radio" value="phone" type="radio" onclick="fnRadioName();">
                            <label for="phone">
                                <span></span> 휴대폰으로 찾기
                            </label>
                        </div>
                    </div>
                </div>
                <ul class="form-list">
                    <li>
                        <div class="input-box">
                            <label class="label" for="name">이름</label>
                            <input type="text" name="name" id="name">
                        </div>
                    </li>
                    <li>
                        <div class="input-box">
                            <label class="label" for="second"></label>
                            <input type="text" name="second" id="second">
                        </div>
                    </li>
                </ul>
            </div>
            <footer class="btn-group">
                <button class="bt-large" type="submit">아이디 찾기</button>
            </footer>
        </form>
    </div>
</body>
</html>