<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/user/myOrder.css}">
    <!-- content script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    </th:block>
    <!-- content script -->
    <th:block layout:fragment="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script th:src="@{/js/addr.js}"></script>
    </th:block>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
    <div class="container">
        <div class="item-wrap">
            <div class="item">
                <div style="min-width: fit-content;"><img style="width:80%;height:100%;border-radius: 24px;" src="/img/store/user_2/김치찌개.jpg" alt=""></div>
                <div style="width: 40%;">
                    <h1>종임가게</h1>
                    <div style="display: inline-block;">
                        <strong style="font-size:20px;">주문내역</strong>
                        <div><span>김치찌개</span><span> (1개)</span><span> 10,000원</span></div>
                        <div><span>김치찌개</span><span> (1개)</span><span> 10,000원</span></div>
                    </div>
                </div>
                <div style="margin-top: 130px;margin-left: 86px;">
                    <div style="font-size: 20px;margin-top: -30px;">결제 금액 : <strong>20,000원</strong></div>
                    <div style="margin-top: 15px">
                        <button>리뷰쓰기</button>
                        <button>가게보기</button>
                    </div>
                </div>
                <div class="state-wrap">
                    <div style="display: inline-block;margin-right: 15px;font-size: 18px;">2022.12.28</div>
                    <strong style="font-size: 22px">주문대기</strong>
                    <div class="state"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>