<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/user/myOrder.css}">
    <!-- content script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    </th:block>
    <!-- content script -->
    <th:block layout:fragment="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script th:src="@{/js/addr.js}"></script>
    </th:block>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
    <div class="container">
        <div class="item-wrap">
            <div class="item" th:each="order:${order}">
                <div style="min-width: fit-content;"><img style="width:80%;height:100%;border-radius: 24px;" th:src="'/img/store/'+${order.storeName}+'/'+${order.storeName}+'.jpg'" alt=""></div>
                <div style="width: 40%;">
                    <h1 th:text="${order.storeName}"></h1>
                    <div style="display: inline-block;">
                        <strong style="font-size:20px;">주문내역</strong>
                        <div th:each="menu:${menu}">
                            <div th:if="${order.orderNo} == ${menu.orderNo}"><span th:text="${menu.foodName}"></span><span th:text="' ('+${menu.num}+'개) '"></span><span th:text="${menu.menuPrice}+'원'"></span></div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 130px;margin-left: 86px;">
                    <div style="font-size: 20px;margin-top: -30px;">결제 금액 : <strong th:text="${order.totalMoney}+ '원'"></strong></div>
                    <div style="margin-top: 15px">
                        <button>리뷰쓰기</button>
                        <button>가게보기</button>
                    </div>
                </div>
                <div class="state-wrap">
                    <div style="display: inline-block;margin-right: 15px;font-size: 18px;" th:text="${order.orderDate}"></div>
                    <strong style="font-size: 22px" th:text="${order.state}"></strong>
                    <div class="state0" th:if="${order.state} == '주문대기'"></div>
                    <div class="state1" th:if="${order.state} == '주문진행'"></div>
                    <div class="state3" th:if="${order.state} == '주문완료'"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>