<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>주문 상세 페이지</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/user/orderDetail.css}">
    <!-- content script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    </th:block>
    <!-- content script -->
    <th:block layout:fragment="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script th:src="@{/js/addr.js}"></script>
    </th:block>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
<section class="title">
    <h1>주문 상세</h1>
</section>

<main>
    <div class="detail_box" th:each="order:${order}">
        <div class="order_cont">
            <div></div>
            <div class="store_name" th:text="${order.storeName}"></div>

            <div class="order_info">
                <div>
                    주문일시 : <span th:text="${order.orderDate}"></span>
                </div>
                <div>주문번호 : <span th:text="${order.orderNo}"></span></div>
            </div>
        </div>

        <ul class="order_menu" th:each="menu:${menu}">
            <li th:if="${order.orderNo} == ${menu.orderNo}">
                <div><span th:text="${menu.foodName}"></span></div>
                <ul>
                    <li class="menu_price_sum" name="menuPrice" th:text="${#numbers.formatInteger(menu.menuPrice, 0, 'COMMA')+'원'}"></li>
                </ul>
                <hr>
            </li>
        </ul>


        <div class="price">
            <div>
                <span>총 주문금액 </span><span id="menuPrice"></span>
            </div>
            <div>
                <span>배달팁 </span><span th:text="${#numbers.formatInteger(order.tip, 0, 'COMMA')+'원'}"></span>
            </div>
            <hr>
        </div>

        <div class="total">
            <div>
                <span>총 결제금액 </span>
                <span class="sum" th:text="${#numbers.formatInteger(order.totalMoney, 0, 'COMMA')+'원'}"></span>
            </div>

            <div>
                <span>결제방법 </span><span th:text="${order.payment}"></span>
            </div>
        </div>
        <hr>
        <hr>


        <div class="address">
            <div>배달주소</div>
            <ul>
                <li th:text="${order.location}"></li>
            </ul>
            <hr>

        </div>

        <div>
            <div>전화번호</div>
            <div th:text="${order.phone}"></div>
            <hr>

        </div>

        <div>
            <div>사장님께 요청사항</div>
            <div style="margin: 20px;" th:text="${order.forCeo}"></div>
            <div>라이더님께 요청사항</div>
            <div style="margin: 20px;" th:text="${order.forRider}"></div>
            <hr>

        </div>
    </div>
    <div class="backBtn">
        <button onclick="window.history.back()">뒤로가기</button>
    </div>
</main>
</body>
<script>
    var price = document.getElementsByName("menuPrice")
    console.log(price.length)
    var menuPrice = 0;
    for(var i=0;i<price.length;i++){
        menuPrice += parseInt(price[i].innerText.replace(',','').replace('원',''));
    }
    document.getElementById('menuPrice').innerText += menuPrice.toLocaleString() +'원';
</script>
</html>