<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>주문 상세 페이지</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/user/orderDetail.css}">
    <!-- content script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    </th:block>
    <!-- content script -->
    <th:block layout:fragment="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script th:src="@{/js/addr.js}"></script>
    </th:block>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
<section class="title">
    <h1>주문 상세</h1>
</section>

<main>
    <div class="detail_box" th:each="">
        <div class="order_cont">
            <div>${orderDetail.deliveryStatus }</div>
            <div class="store_name">${orderDetail.storeName }</div>

            <div class="order_info">
                <div>
                    주문일시 : <span th:text=""></span>
                </div>
                <div>주문번호 :</div>
            </div>
        </div>

        <ul class="order_menu">
            <c:forEach begin="0" end="${fn:length(cart) -1 }" var="i">
                <li>
                    <div><span>${cart[i].foodName } ${cart[i].amount }개</span></div>

                    <ul>
                        <li>기본가격 <fm:formatNumber value="${cart[i].foodPrice }" />원</li>

                        <c:set var="foodTotalPrice" value="${cart[i].foodPrice }" />
                        <c:if test="${fn:length(cart[i].optionName) != 0}">
                            <c:forEach begin="0" end="${fn:length(cart[i].optionName) -1 }" var="j">
                                <li>
                                    <span>${cart[i].optionName[j] }</span>
                                    <span><fm:formatNumber value="${cart[i].optionPrice[j] }" pattern="###,###" />원</span>
                                </li>


                                <c:set var="foodTotalPrice" value="${foodTotalPrice + cart[i].optionPrice[j] }" />
                            </c:forEach>
                        </c:if>
                        <li class="menu_price_sum"><fm:formatNumber value="${foodTotalPrice }" pattern="###,###" />원</li>
                    </ul>
                    <hr>
                </li>
            </c:forEach>
        </ul>


        <div class="price">
            <div>
                <span>총 주문금액 </span><span><fm:formatNumber value="${orderDetail.totalPrice }" pattern="###,###" />원</span>
            </div>
            <div>
                <span>배달팁 </span><span><fm:formatNumber value="${orderDetail.deliveryTip }" pattern="###,###" />원</span>
            </div>
            <div>
                <c:if test="${orderDetail.usedPoint != 0 }">
                    <span>포인트 사용 </span>
                    <span>-<fm:formatNumber value="${orderDetail.usedPoint }" pattern="###,###" />원</span>
                </c:if>
            </div>
            <hr>
        </div>

        <div class="total">
            <div>
                <span>총 결제금액 </span>
                <span class="sum"><fm:formatNumber value="${orderDetail.totalPrice + orderDetail.deliveryTip - orderDetail.usedPoint  }" pattern="###,###" />원</span>
            </div>

            <div>
                <span>결제방법 </span><span>${orderDetail.payMethod }</span>
            </div>
        </div>
        <hr>
        <hr>


        <div class="address">
            <div>배달주소</div>
            <ul>
                <li>${orderDetail.deliveryAddress1 }</li>
                <li>${orderDetail.deliveryAddress2 }</li>
                <li>${orderDetail.deliveryAddress3 }</li>
            </ul>
            <hr>

        </div>

        <div>
            <div>전화번호</div>
            <div>${orderDetail.phone }</div>
            <hr>

        </div>

        <div>
            <div>요청사항</div>
            <div>${orderDetail.request }</div>
            <hr>

        </div>
    </div>
</main>
</body>
</html>