<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/user/order.css}">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cf810bf7f8ae914278124d6d27c95e85&libraries=services"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- content script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    </th:block>
    <!-- content script -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/addr.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </th:block>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
    <div class="container">
        <div class="left-tab">
            <!-- 가게 정보 -->
            <div class="store" th:each="s:${store}">
                <table>
                    <tbody>
                        <tr>
                            <td rowspan="4"><img class="title-img" th:src="${s.img}" alt=""></td>
                            <td>가게명</td>
                            <td th:text="${s.storeName}"></td>
                        </tr>
                        <tr>
                            <td>최소주문</td>
                            <td th:text="${s.limitPrice}+'원'"></td>
                        </tr>
                        <tr>
                            <td>배달팁</td>
                            <td th:text="${s.tip}+'원'"></td>
                        </tr>
                        <tr>
                            <td>평점</td>
                            <td style="color: #ffa600" th:text="'★ '+${s.grade}+''"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 탭 버튼 -->
            <div class="tab_box">
                <button class="tabs active" onclick="tabopen(event,'menu-tab')" id="basic_content">메뉴</button>
                <button class="tabs" onclick="tabopen(event,'info-tab')" >정보</button>
                <button class="tabs" onclick="tabopen(event,'review-tab')" >리뷰</button>
            </div>
            <!-- 메뉴 탭 -->
            <div id="menu-tab" style="display: block;" class="content">
                <ul>
                    <li class="menu-item" th:each="m:${menu}">
                        <table>
                            <tr>
                                <td rowspan="2" style="width: 50%;"><img style="overflow: hidden;width: 130px;border: 1px solid;border-radius: 10px;" th:src="${m.img}" alt=""></td>
                                <td th:text="${m.foodName}"></td>
                            </tr>
                            <tr>
                                <td th:text="${m.price}"></td>
                            </tr>
                            <button class="plus-btn">담기</button>
                        </table>
                    </li>
                </ul>
            </div>
            <!-- 정보 탭 -->
            <div id="info-tab" class="content">
                <div style="margin-bottom: 40px;">
                    <div class="title info-icon">사장님알림</div>
                    <div>딜리버리 서비스 메뉴의 가격은 매장 가격과 상이할 수 있습니다.</div>
                </div>
                <div style="margin-bottom: 40px;">
                    <div class="title info-icon">매장위치</div>
                    <div id="com-addr" th:text="${store.location}">
                        <div id="map" style="width:100%;height:350px;"></div>
                    </div>
                </div>
            </div>
            <!-- 리뷰 탭 -->
            <div id="review-tab" class="content">
                <div class="count">
                    리뷰 <strong>10개</strong>
                </div>
                <div class="review">
                    <div>
                        <strong>이*임님</strong>
                        <span>1시간 전</span>
                        <span>★★★★★</span>
                    </div>
                    <div>
                        hi
                        <img style="width: 100%; height: 200px;" src="" alt="">
                    </div>
                    <p>너무 맛있어용</p>
                </div>
            </div>
        </div>
        <div class="right-tab">
            <form action="" method="post">
                <div class="order-menu">
                    <div>
                        <div class="order-title"><h3>주문표</h3></div>
                        <div>
                            <!-- 주문표 -->
                            <ul>
                                <li class="item-list">
                                    <div>
                                        <div class="item-name">김치볶음밥</div>
                                        <div class="pull-left">
                                            <a class="delete-btn" href="">
                                                삭제
                                                <span>10,000원</span>
                                            </a>
                                            <div class="text-right">- 1 +</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-list">
                                    <div>
                                        <div class="item-name">김치볶음밥</div>
                                        <div class="pull-left">
                                            <a class="delete-btn" href="">
                                                삭제
                                                <span>10,000원</span>
                                            </a>
                                            <div class="text-right">- 1 +</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- 주문표 -->
                        </div>
                    </div>
                </div>
                <div class="pay-view">
                    <div>
                        <div class="pay-view-title"><h3>결제금액</h3></div>
                    </div>
                    <div class="pay-money">
                        <table>
                            <tr>
                                <td>음식</td>
                                <td>20,000원</td>
                            </tr>
                            <tr>
                                <td>배달비</td>
                                <td>2,000원</td>
                            </tr>
                            <tr>
                                <td><strong>총 금액</strong></td>
                                <td><strong>22,000원</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="request-menu">
                    <div>
                        <div class="request-title"><h3>요청사항</h3></div>
                    </div>
                    <div class="request">
                        <div class="input-box">
                            주소 <input type="text" disabled value="경기 의정부시 오목로 251" style="background: none;border: none;">
                        </div>
                        <div class="input-box">
                            상세주소 <input type="text"style="background: none;outline: none;">
                        </div>
                        <div class="input-box">
                            <span>요청사항(사장님께)</span>
                            <input type="text" style="background: none;outline: none;">
                        </div>
                        <div class="input-box">
                            <span>요청사항(배달기사님께)</span>
                            <input type="text" style="background: none;outline: none;">
                        </div>
                        <div class="input-box">
                            <span>결제방법</span>
                            <select name="" id="" style="width: 100%; height: 30px; margin-top: 5px;">
                                <option value="none">선택</option>
                                <option value="1">만나서 현금결제</option>
                                <option value="2">만나서 카드결제</option>
                                <option value="3">카드결제</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pay-menu">
                    <button class="pay-btn">결제하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script th:src="@{/js/tab.js}"></script>
<!--<script th:src="@{/js/map.js}"></script>-->
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch('제주특별자치도 제주시 첨단로 242', function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
</script>
</html>