{% extends 'layout/layout.html' %}
{%load static%}
{%block title%}매장관리{%endblock%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/myStore/myStore.css' %}">
<div class="container">
    <div class="manage">
        <div class="top-menu">
            <button>주문접수</button>
            <button>매장관리</button>
        </div>
        <div style="display: flex;">
            <div class="update">
                <div>음식 수정 <button>추가</button></div>
                <div>음식 사진  음식명 : 불고기 가격 : 10,000원 
                    <button>수정</button>
                    <button>삭제</button>
                </div>
                <div>음식 사진  음식명 : 불고기 가격 : 10,000원 
                    <button>수정</button>
                    <button>삭제</button>
                </div>
                <div>음식 사진  음식명 : 불고기 가격 : 10,000원 
                    <button>수정</button>
                    <button>삭제</button>
                </div>
                <div>음식 사진  음식명 : 불고기 가격 : 10,000원 
                    <button>수정</button>
                    <button>삭제</button>
                </div>
            </div>
            <div>
                
            </div>
        </div>
    </div>
</div>
{%endblock%}