<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/store/myStore.css}">
    <!-- content script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    </th:block>
    <!-- content script -->
    <th:block layout:fragment="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script th:src="@{/js/addr.js}"></script>
    </th:block>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
    <div class="container">
        <div class="manage">
            <div class="top-menu">
                <button><a href="/store/order">주문접수</a></button>
                <button><a href="/store/menu">메뉴관리</a></button>
                <button><a href="/store/manage">매장관리</a></button>
            </div>
            <div style="display: flex;flex-direction: column">
                <div>
                    <button>수정</button>
                    <button>적용</button>
                </div>
                <div>매장 시간 : <input type="time"> 부터 <input type="time"></div>
                <div>최소 주문 금액 : <input type="text"></div>
                <div>배달팁 : <input type="text"></div>
                <div>사장님 알림 : <input type="text"></div>
                <div>
                    <button>리뷰 댓글 달러가기</button>
                    <button>광고 배너 추가하기</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>