<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/store/myStore.css}">
    <link rel="stylesheet" th:href="@{/css/store/modal.css}">
    <!-- content script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    </th:block>
    <!-- content script -->
    <th:block layout:fragment="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script th:src="@{/js/addr.js}"></script>
    </th:block>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
    <div class="container">
        <div class="manage">
            <div class="top-menu">
                <button><a href="/store/order">주문접수</a></button>
                <button><a href="/store/manage">매장관리</a></button>
            </div>
            <div style="display: flex;">
                <div class="side-menu">
                    <button class="active"><a href="/store/order">처리중</a></button>
                    <button><a href="/store/completion" style="color: #fff;">완료</a></button>
                </div>
                <div class="menu-list" id="menuList">
                    <div style="height:30px;padding-top: 10px;border-bottom: 1px solid #ddd;text-align: center;font-weight: 700;">
                        주문내역
                    </div>
                    <div class="select-menu" th:each="order:${order}" th:id="${order.orderNo}+'Class'">
                        <div th:if="${order.state == '주문대기'}" th:orderNo="${order.orderNo}"
                             th:onclick="orderNo(this.getAttribute('orderNo'))" style="cursor: pointer;">
                            <strong>주문번호 <strong th:text="${order.orderNo}"></strong></strong><br>
                            <div th:each="menu:${menu}">
                                <div th:id="${order.orderNo}" th:if="${menu.orderNo}==${order.orderNo}">
                                    <span id="menuCount"></span>
                                </div>
                            </div>
                            <div class="new" id="new">신규</div>
                        </div>
                        <div th:if="${order.state == '주문진행'}" th:orderNo="${order.orderNo}"
                             th:onclick="orderNo(this.getAttribute('orderNo'))" style="cursor: pointer;">
                            <strong>주문번호 <strong th:text="${order.orderNo}"></strong></strong><br>
                            <div th:each="menu:${menu}">
                                <div th:id="${order.orderNo}" th:if="${menu.orderNo}==${order.orderNo}">
                                    <span id="menuCount"></span>
                                    <div class="ing" th:text="${order.deliveryTime}+분"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 70%;background-color: #f5f5f5;">
                    <div id="default" style="text-align: center;margin-top: 100px">
                        <h1>주문내역을 선택해주세요.</h1>
                    </div>
                    <div th:if="${order != null}" id="showMenu" style="display: none">
                        <div style="padding: 20px;display: flex;justify-content: space-between;align-items: center;">
                            <div style="width: 60%;">
                                <div style="font-size: 25px;font-weight: 700;">배달 <strong id="orderNum"></strong></div>
                                <div style="font-size: 18px;">
                                    <strong>메뉴 <strong id="count"></strong>개</strong>
                                    <strong> · 총 <strong id="money"></strong>원</strong>
                                    <strong id="pay"> (결제완료)</strong>
                                </div>
                            </div>
                            <div id="rightBtns"></div>
                        </div>
                        <div style="display: flex;padding: 20px;justify-content: space-around;height: 488px;">
                            <div style="width: 55%;display: flex;flex-direction: column;justify-content: space-between;">
                                <div style="border: 1px solid #ddd;height: 48%;padding: 20px;background-color: white;margin-bottom: 12px;">
                                    <div style="margin-bottom: 10px;">요청사항</div>
                                    <table width="100%">
                                        <tr style="height: 70px">
                                            <td>가게</td>
                                            <td><input id="forCeo" type="text" style="border: none;background-color: white" disabled></td>
                                        </tr>
                                        <tr style="height: 70px">
                                            <td>배달</td>
                                            <td><input id="forRider" type="text" style="border: none;background-color: white" disabled></td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="border: 1px solid #ddd;height: 48%;padding: 20px;background-color: white;">
                                    <div style="margin-bottom: 10px;">주문내역</div>
                                    <table id="menu"  class="order-list" width="100%"></table>
                                </div>
                            </div>
                            <div style="width: 40%;border: 1px solid #ddd;background-color: white;padding:20px;margin-left: 12px;">
                                <div style="margin-bottom: 40px">
                                    <h4 style="margin-bottom: 5px">배달지</h4>
                                    <div id="address"></div>
                                </div>
                                <div style="margin-bottom: 40px">
                                    <h4 style="margin-bottom: 5px">고객연락처</h4>
                                    <div id="phone"></div>
                                </div>
                                <div>
                                    <table id="rightMenu">
                                        <tr>
                                            <td><strong>배달시간</strong></td>
                                            <td id="delTime"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>주문번호</strong></td>
                                            <td id="orderNum1"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>주문시간</strong></td>
                                            <td id="orderTime"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>가게정보</strong></td>
                                            <td id="storeName"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                <h2 id="title"></h2>
            </div>
            <div class="close-area" onclick="">X</div>
            <div class="content">
                <div id="reason"></div>
                <button class="modal-btn" onclick="requestBtns(this)">고객요청</button>
                <button class="modal-btn" onclick="requestBtns(this)">가게사정</button>
                <button class="modal-btn" onclick="requestBtns(this)">배달불가</button>
                <button class="modal-btn" onclick="requestBtns(this)">재료소진</button>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:src="@{/js/store/order.js}"></script>
<script th:src="@{/js/store/menuSelect.js}"></script>
<script th:src="@{/js/selectFood.js}"></script>
</html>