<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/store/myStore.css}">
    <!-- content script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    </th:block>
    <!-- content script -->
    <th:block layout:fragment="script">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script th:src="@{/js/addr.js}"></script>
    </th:block>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
    <div class="container">
        <div class="manage">
            <div class="top-menu">
                <button><a href="/store/order">주문접수</a></button>
                <button><a href="/store/manage">매장관리</a></button>
            </div>
            <div style="display: flex;">
                <div class="side-menu">
                    <button class="active"><a href="/store/order">처리중</a></button>
                    <button><a href="/store/completion" style="color: #fff;">완료</a></button>
                </div>
                <div class="menu-list">
                    <div style="border-bottom: 1px solid #ddd;text-align: center;font-weight: 700;">
                        신규
                    </div>
                    <div class="select-menu" th:each="order:${order}">
                        <div th:onclick="'location.href +=\''+'/'+@{${order.orderNo}}+'\''" style="cursor: pointer;">
                            <strong>배달 <strong th:text="${order.orderNo}"></strong></strong><br>
                            <div th:each="menu:${menu}">
                                <div th:id="${order.orderNo}" th:if="${menu.orderNo}==${order.orderNo}">
                                    <span id="menuCount"></span>
                                </div>
                            </div>
                            <div class="new" id="new">신규</div>
                        </div>
                    </div>
                    <div style="border-bottom: 1px solid #ddd;text-align: center;font-weight: 700;">
                        진행
                    </div>
                    <div class="select-menu">
                        <strong>배달 번호</strong><br>
                        <span>메뉴 1개</span>
                        <div class="ing">60분</div>
                    </div>
                </div>
                <div style="width: 70%;background-color: #f5f5f5;">
                    <div>
                        <div style="padding: 20px;display: flex;justify-content: space-between;">
                            <div>
                                <div style="font-size: 25px;font-weight: 700;">배달 번호</div>
                                <div style="font-size: 18px;">
                                    <strong>메뉴 1개 · 총 10,000원 (결제완료)</strong>
                                </div>
                            </div>
                            <div style="align-self: center;">
                                <button>거부</button>
                                <button>- 60분 +</button>
                                <button>접수</button>
                            </div>

                        </div>
                        <div style="display: flex;padding: 20px;justify-content: space-around;height: 488px;">
                            <div style="width: 55%;display: flex;flex-direction: column;justify-content: space-between;">
                                <div style="border: 1px solid #ddd;height: 48%;padding: 20px;background-color: white;margin-bottom: 12px;">
                                    <div style="margin-bottom: 10px;">요청사항</div>
                                    <table width="100%">
                                        <tr style="height: 70px">
                                            <td>가게</td>
                                            <td><input type="text" style="border: none;background-color: white" disabled></td>
                                        </tr>
                                        <tr style="height: 70px">
                                            <td>배달</td>
                                            <td><input type="text" style="border: none;background-color: white" disabled></td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="border: 1px solid #ddd;height: 48%;padding: 20px;background-color: white;">
                                    <div style="margin-bottom: 10px;">주문내역</div>
                                    <table class="order-list" width="100%">
                                        <tr>
                                            <td>부대찌개</td>
                                            <td>1개</td>
                                            <td>10,000원</td>
                                        </tr>
                                        <tr>
                                            <td>김치찌개</td>
                                            <td>1개</td>
                                            <td>10,000원</td>
                                        </tr>
                                        <tr>
                                            <td>배달팁</td>
                                            <td></td>
                                            <td>1,000원</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>2개</td>
                                            <td>22,000원</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div style="width: 40%;border: 1px solid #ddd;background-color: white;padding:20px;margin-left: 12px;">
                                <div style="margin-bottom: 40px">
                                    <h4 style="margin-bottom: 5px">배달지</h4>
                                    <div>경기 의정부시 오목로 251</div>
                                </div>
                                <div style="margin-bottom: 40px">
                                    <h4 style="margin-bottom: 5px">고객연락처</h4>
                                    <div>010-1234-5678</div>
                                </div>
                                <div>
                                    <table>
                                        <tr>
                                            <td><strong>배달시간</strong></td>
                                            <td>60분</td>
                                        </tr>
                                        <tr>
                                            <td><strong>주문번호</strong></td>
                                            <td>ASDFASD</td>
                                        </tr>
                                        <tr>
                                            <td><strong>주문시간</strong></td>
                                            <td>04/14 (화) 10:17</td>
                                        </tr>
                                        <tr>
                                            <td><strong>가게정보</strong></td>
                                            <td>종임가게</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/store/order.js}"></script>
</html>