<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <div style="border-bottom: 1px solid #ddd; background-color: white;">
        <div class='header-member'>
            <div class='logo'>
                <a href="/">
                    <img src="https://img.etoday.co.kr/pto_db/2019/04/600/20190407100254_1317721_860_392.png" alt=""/>
                </a>
            </div>
            <div class='addr'>
                <input type="button" id="home" onclick="myHome();" value="우리집">
                <input style="width: 300px;background: white;" type="text" id="sample5_address" placeholder="주소" th:if="${session.addr != null}" th:value="${session.addr}" disabled>
                <input style="width: 300px;background: white;" type="text" id="sample5_address" placeholder="주소" th:if="${session.addr == null}" disabled>
                <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색">
            </div>
            <div th:if="${session.loginUser ==null}" class='login'>
                <ul>
                    <li>
                        <a href="/login">로그인</a>
                    </li>
                    <li>
                        <a href="/signup">회원가입</a>
                    </li>
                </ul>
            </div>
            <div class='login' th:if="${session.loginUser!=null}">
                <ul>
                    <li>
                        <div id="userNo" style="display: none;" th:text="${session.loginUser.getNo()}"></div>
                    </li>
                    <li>
                        <a href="/logout">로그아웃</a>
                    </li>
                    <li>
                        <a href="/myOrder">주문내역</a>
                    </li>
                    <li>
                        <a th:if="${session.loginUser.getCeo() ==0}" href="/register">가게등록</a>
                        <a th:if="${session.loginUser.getCeo() ==1}" href="/store/manage">가게관리</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>