.menu-bar ul {
    margin: 0 auto;
    padding-left: 0;
}

.menu-bar li {
    float: left;
    width: 12%;
    display: flex;
    font-size: 18px;
    text-align: center;
    list-style: none;
    border-right: 0;
    border-bottom: 0;
    padding: 30px 0;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}

.menu-header{
    display: flex;
    width: 100%;
    background: #fff;
    border-left: 1px solid #d9d9d9;
    -webkit-box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 25%);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 3px 0px rgb(0 0 0 / 25%);
    margin: 0 auto;
    justify-content: space-around;
}

.menu-bar li:before {
    width: 1px;
    height: 14px;
    margin: 0 20px;
    background-color: #DDD;
    display: inline-block;
    content: '';
    margin-right: 10px;
}

.menu-bar{
    width: 72%;
}

.menu-bar li:first-child::before {
    display: none;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

.food{
    padding-left: 10px;
    width: 50%;
    padding-right: 10px;
    margin-top: 30px;
}

.food .food-item {
    position: relative;
    border: 1px solid #d9d9d9;
    background: #fff;
    padding: 0 8px;
    margin-bottom: 10px;
    height: 108px;
    box-sizing: border-box;
    border-radius: 10px;
}

.food table{
    width: 100%;
}