<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/cate.css}">
    <!-- content script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    </th:block>
    <!-- content script -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/addr.js}"></script>
    </th:block>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
<div>
    <div class="menu-header">
        <div class="menu-bar">
            <ul>
                <li><a th:href="@{/cate(no=1)}">찜,탕</a></li>
                <li><a th:href="@{/cate(no=2)}">프랜차이즈</a></li>
                <li><a th:href="@{/cate(no=3)}">한식</a></li>
                <li><a th:href="@{/cate(no=4)}">일식</a></li>
                <li><a th:href="@{/cate(no=5)}">아시안</a></li>
                <li><a th:href="@{/cate(no=6)}">중식</a></li>
                <li><a th:href="@{/cate(no=7)}">분식</a></li>
                <li><a th:href="@{/cate(no=8)}">카페,디저트</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="food">
            <div class="food-item" th:each="cate:${cate}" th:onclick="'location.href=\'' + @{order(no=${cate.no})} + '\''">
                <img class="store-img" th:src="${cate.img}">
                <table>
                    <tr rowspan="2">
                        <td colspan="2" th:text="${cate.storeName}"></td>
                    </tr>
                    <tr>
                        <td>최소주문금액</td>
                        <td th:text="${cate.limitPrice}+'원'"></td>
                    </tr>
                    <tr>
                        <td>배달팁</td>
                        <td th:text="${cate.tip}+'원'"></td>
                    </tr>
                    <tr>
                        <td>리뷰</td>
                        <td th:text="${cate.review}+'개'"></td>
                    </tr>
                    <tr>
                        <td>평점</td>
                        <td style="color: #ffa600" th:text="'★ '+${cate.grade}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>