<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>index</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/cate.css}">
    <!-- content script -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    </th:block>
    <!-- content script -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/addr.js}"></script>
    </th:block>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
<div>
    <div class="menu-header">
        <div class="menu-bar">
            <ul>
                <li><a th:href="@{/cate(no=1)}">찜,탕</a></li>
                <li><a th:href="@{/cate(no=2)}">프랜차이즈</a></li>
                <li><a th:href="@{/cate(no=3)}">한식</a></li>
                <li><a th:href="@{/cate(no=4)}">일식</a></li>
                <li><a th:href="@{/cate(no=5)}">아시안</a></li>
                <li><a th:href="@{/cate(no=6)}">중식</a></li>
                <li><a th:href="@{/cate(no=7)}">분식</a></li>
                <li><a th:href="@{/cate(no=8)}">카페,디저트</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="food">
            <div class="food-item" th:each="cate:${cate}">
                <table>
                    <tbody>
                        <tr>
                            <td rowspan="2">이미지1</td>
                            <td>이미지2</td>
                        </tr>
                        <tr>
                            <td>이미지3</td>
                        </tr>
                        <tr>
                            <td th:text="${cate.storeName}"></td>
                            <td th:text="${cate.review}"></td>
                        </tr>
                        <tr>
                            <td th:text="${cate.limitPrice}"></td>
                            <td th:text="${cate.tip}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>