<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.food_delivery.mapper.MenuMapper">
    <select id="menu" resultType="menuVO">
        SELECT * FROM MENU WHERE STORE_NO = #{no}
    </select>
    <select id="selectMenu" resultType="menuVO">
        SELECT * FROM MENU WHERE NO = #{no}
    </select>

    <update id="menuUpdate">
        UPDATE MENU SET FOOD_NAME = #{foodName}, PRICE = #{price} , IMG = #{img}
        WHERE NO = #{no}
    </update>

    <delete id="deleteMenu">
        DELETE FROM MENU WHERE NO = #{no}
    </delete>
</mapper>