<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.food_delivery.mapper.OrderMapper">
    <insert id="orderHistory" parameterType="java.util.HashMap">
        INSERT INTO ORDER_MENU(NO, FOOD_NAME, NUM, MENU_PRICE,ORDER_NO,USER_NO)
        SELECT SEQ_NO.NEXTVAL, A.*
        FROM (
        <foreach collection="menu" item="item" separator="UNION ALL ">
            SELECT #{item.foodName} AS FOOD_NAME, #{item.num} AS NUM,#{item.menuPrice} AS MENU_PRICE,
            #{orderNo} AS ORDER_NO,#{item.userNo} AS USER_NO FROM DUAL
        </foreach>
        ) A
    </insert>
    <insert id="orderHistory2" parameterType="java.util.HashMap">
        INSERT INTO TBL_USER_ORDER(NO,USER_NO,STATE,STORE_NAME,ORDER_DATE, TIP,PAYMENT, FOR_CEO,FOR_RIDER,LOCATION,PHONE,TOTAL_MONEY,ORDER_NO)
        VALUES (SEQ_ORDER.NEXTVAL,#{no},#{state},#{storeName},TO_DATE(#{orderDate},'YYYY-MM-DD HH24:MI:SS'),#{tip},#{payment},#{forCeo},#{forRider},#{addr},#{phone},#{totalMoney},#{orderNo})
    </insert>
    <select id="orderAllList" resultType="userOrderVO">
        SELECT * FROM TBL_USER_ORDER WHERE USER_NO = #{no}
    </select>
    <select id="menuAllList" resultType="orderMenuVO">
        SELECT * FROM ORDER_MENU WHERE USER_NO = #{no}
    </select>

    <delete id="deleteOrder">
        DELETE * FROM TBL_USER_ORDER WHERE ORDER_NO = #{orderNo}
    </delete>
    <delete id="deleteMenu">
        DELETE * FROM ORDER_MENU WHERE ORDER_NO = #{orderNo}
    </delete>

</mapper>