<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.food_delivery.mapper.StoreMapper">
    <!--  카테고리 페이지  -->
    <select id="cate" resultType="storeVO">
        SELECT * FROM STORE WHERE MENU_NO = #{no}
    </select>
    <!--  유저 주문 페이지  -->
    <select id="order" resultType="storeVO">
        SELECT * FROM STORE WHERE NO = #{no}
    </select>
    <!-- 주문 접수 페이지 -->
    <select id="getOrderList" resultType="userOrderVO">
        SELECT * FROM TBL_USER_ORDER WHERE STORE_NAME =
        (SELECT STORE_NAME FROM STORE WHERE CEO_NO = #{no})
    </select>
    <!--  주문 메뉴  -->
    <select id="getMenuList" resultMap="mapping_menuList">
        SELECT * FROM ORDER_MENU WHERE ORDER_NO IN
        (SELECT ORDER_NO FROM TBL_USER_ORDER WHERE STORE_NAME = (SELECT STORE_NAME FROM STORE WHERE CEO_NO = #{no}))
    </select>
    <resultMap type="com.example.food_delivery.domain.vo.OrderMenuVO" id="mapping_menuList">
        <result property="menuPrice" column="MENU_PRICE"/>
    </resultMap>
    <!--  주문 번호로 주문 내역 가져 오기  -->
    <select id="getOrder" resultType="userOrderVO">
        SELECT * FROM TBL_USER_ORDER WHERE ORDER_NO = #{orderNo}
    </select>
    <select id="getMenu" resultType="orderMenuVO">
        SELECT * FROM ORDER_MENU WHERE ORDER_NO = #{orderNo}
    </select>

    <!--  주문 접수  -->
    <update id="updateReceipt">
        UPDATE TBL_USER_ORDER SET STATE = '주문진행', DELIVERY_TIME = #{deliveryTime} WHERE ORDER_NO = #{orderNo}
    </update>
    <!--  주문 거절  -->
    <update id="updateRefuse">
        UPDATE TBL_USER_ORDER SET STATE = '주문거절' , NOTE = #{note} WHERE ORDER_NO = #{orderNo}
    </update>
    <!--  주문 취소  -->
    <update id="updateCancel">
        UPDATE TBL_USER_ORDER SET STATE = '주문취소' , NOTE = #{note} WHERE ORDER_NO = #{orderNo}
    </update>
    <!--  주문 완료 처리  -->
    <update id="updateFinish" parameterType="userOrderVO">
        UPDATE TBL_USER_ORDER SET STATE = '배달완료' WHERE ORDER_NO = #{orderNo}
    </update>

</mapper>