<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.food_delivery.mapper.UserMapper">
    <!-- 로그인 -->
    <select id="login" resultType="userVO">
        SELECT
        *
        FROM TBL_USER
        WHERE ID = #{id} AND PW = #{pw}
    </select>
    <insert id="insert">
        INSERT INTO TBL_USER
        (NO, ID,PW, NAME, EMAIL, ADDR, PHONE, CEO)
        VALUES(SEQ_USER.NEXTVAL,  #{id}, #{pw},#{name}, #{email}, #{addr}, #{phone},0)
    </insert>
</mapper>